footer {
	background: url(../img/hero-bg.jpg) center center;
	background-size: cover;
	

	.lockup {
		padding: 50px 30px;
		@include clearfix;

		.logo {
			@include size(50px);
			float: left;
			margin-right: 30px;

			path {
				fill: rgba(0,0,0,0.3);
			}
		}

		.content-wrap {
			float: left;

			.copyright {

				text-transform: uppercase;
				margin: 0;
				font-size: 12px;
				color: rgba(0,0,0,0.4);

			}

			a {
				@extend .small-bold !optional;
				color: rgba(0,0,0,0.7);
				display: inline-block;
				margin-right: 30px;
				text-decoration: none;

				&:hover {
					color: rgba(0,0,0,0.1);
				}
			}
		}
	}
}